---
- name: Create a VM on a specific ESXi
  vmware_guest:
    hostname: "{{ vmware_host }}"
    username: "{{ vmware_user }}"
    password: "{{ vmware_password }}"
    validate_certs: "{{ vmware_validate }}"
    folder: "{{ vmware_folder }}"
    datacenter: "{{ vmware_datacenter }}"
    name: "{{ hostname }}"
    state: poweredon
    esxi_hostname: "{{ vmware_esxi }}"
    template: centos7_template
    disk:
    - size_gb: "{{ disk }}"
      type: thin
      datastore: "{{ vmware_datastore }}"
    hardware:
      memory_mb: "{{ memory }}"
      num_cpus: "{{ cpu }}"
      scsi: paravirtual
    cdrom:
      type: none
      state: absent
    networks:
    - name: "{{ vmware_network }}"
      device_type: vmxnet3
      start_connected: True
    wait_for_ip_address: yes