---
- name: Remove a virtual machine
  vmware_guest:
    hostname: "{{ vmware_host }}"
    username: "{{ vmware_user }}"
    password: "{{ vmware_password }}"
    validate_certs: "{{ vmware_validate }}"
    name: "{{ hostname }}"
    state: absent
    force: yes