--- 
- name: Generate uuid for hostname of server
  command: uuidgen
  register: randomuuidgen

- set_fact:
    vm_created: {}
    hostname: '{{ naming_convention }}{{ rol }}_{{ bedrijfsnaam }}_{{ randomuuidgen.stdout|lower }}'

- name: Create the Virtual Machine on VMWare
  include_role:
    name: vmware
    tasks_from: create_vm

- debug:
    msg: 'IP adres: {{ virtualmachinecreated.instance.ipv4 }}, hostname: {{ virtualmachinecreated.instance.hw_name }} Placeholder for adding host to inventory file of specific custer and group with vars like voornaam, achternaam etc.'

- name: Add the new VM to a in-memory inventory
  add_host:
    name: '{{ virtualmachinecreated.instance.ipv4 }}'
    groups: just_created
    ansible_ssh_user: '{{ ansible_username }}'
    ansible_ssh_private_key: '{{ ansible_ssh_private_key }}'

- name: set fqdn in OS
  command: hostnamectl set-hostname '{{ hostname}}.{{ domain}}'
  register: hostnamecmd
  delegate_to: '{{ virtualmachinecreated.instance.ipv4 }}'