--- 
- name: Generate uuid for hostname of server
  command: uuidgen
  register: randomuuidgen

- set_fact:
    hostname: '{{ naming_convention }}{{ rol }}_{{ bedrijfsnaam }}_{{ randomuuidgen.stdout|lower }}'

- name: Create the Virtual Machine on VMWare
  include_role:
    name: vmware
    tasks_from: create_vm

- name: Append VM info in dict
  set_fact:
    vm_created: "{'vm_name': {{ virtualmachinecreated.instance.hw_name }}, 'vm_ipv4_addres': {{ virtualmachinecreated.instance.ipv4 }} }"

- name: Add the new VM to a in-memory inventory
  add_host:
    name: '{{ virtualmachinecreated.instance.ipv4 }}'
    groups: vm_group
    ansible_ssh_user: '{{ ansible_username }}'
    ansible_ssh_private_key: '{{ ansible_ssh_private_key }}'
    ansible_become: true

- name: set fqdn in OS
  command: hostnamectl set-hostname '{{ hostname}}.{{ domain}}'
  register: hostnamecmd
  delegate_to: '{{ virtualmachinecreated.instance.ipv4 }}'

- name: Ensure that '{{ hostname }}' is in '{{ rol }}' section of the inventory file 
  ini_file:
    path: './inventories/{{ omgeving}}/{{ bedrijfsnaam }}.ini'
    section: '{{ rol }}'
    option: '{{ hostname}}.{{ domain}} ansible_host={{ virtualmachinecreated.instance.ipv4 }}'
    allow_no_value: yes
    create: yes
  vars:
    ansible_python_interpreter: /usr/bin/python

- name: Append VM info in final dict
  set_fact:
    vm_created: "{{ final_vm_created + [vm_created] }}"