- name: Set default fact for deleting VM
  set_fact:
    specific_vm_choice: {'user_input': 'ja'}
  when: yes_to_all_vm_delete.user_input == 'ja'

- pause:
    prompt: 'Weet je zeker dat VM: {{ item }} verwijderd moet worden? (typ ja of nee)'
  register: specific_vm_choice
  when: yes_to_all_vm_delete.user_input != 'ja'

- name: Remove the Virtual Machine on VMWare
  include_role:
    name: vmware
    tasks_from: remove_vm
  vars:
    hostname: '{{ item }}'
  when: specific_vm_choice.user_input

- name: Remove '{{ item }}' from inventory file
  lineinfile:
    path: inventories/provisioner.ini
    regexp: '{{ item }}'
    state: absent
  vars:
    ansible_python_interpreter: /usr/bin/python