- name: Remove the Virtual Machine on VMWare
  include_role:
    name: vmware
    tasks_from: remove_vm
  vars:
    hostname: '{{ item }}'

- name: Remove '{{ item }}' from inventory file
  lineinfile:
    path: inventories/provisioner.ini
    regexp: '{{ item }}'
    state: absent
  vars:
    ansible_python_interpreter: /usr/bin/python