---
- name: Modify the VM
  include_role:
    name: vmware
    tasks_from: modify_vm

- name: Wait 300 seconds for port 22 to become open and contain "OpenSSH"
  wait_for:
    port: 22
    host: "{{ hostvars[old_fqdn]['ansible_host']}}"
    search_regex: OpenSSH
    delay: 10
  connection: local

- name: Add the VM to a in-memory inventory
  add_host:
    name: "{{ hostvars[old_fqdn]['ansible_host']}}"
    ansible_ssh_user: '{{ ansible_ssh_user }}'
    ansible_ssh_private_key: '{{ ansible_ssh_private_key }}'
    ansible_become: true

- name: set fqdn in OS
  command: hostnamectl set-hostname '{{ new_vm_name }}.{{ domain}}'
  register: hostnamecmd
  delegate_to: "{{ hostvars[old_fqdn]['ansible_host']}}"
  when: new_vm_name != 'nee'

- name: Replace '{{ hostname }}.{{ domain }}' with '{{ new_vm_name }}.{{ domain }}' in inventory file
  command: sed -i s/'{{ hostname }}.{{ domain }}'/'{{ new_vm_name }}.{{ domain }}'/g inventories/provisioner.ini
  when: new_vm_name != 'nee'