---
- name: Modify the VM
  include_role:
    name: vmware
    tasks_from: modify_vm

- name: set fqdn in OS
  command: hostnamectl set-hostname '{{ hostname}}.{{ domain}}'
  register: hostnamecmd
  delegate_to: "{{ hostvars[hostname.domain]['ansible_host']}}"
  when: new_vm_name != 'nee'

- name: Replace '{{ hostname }}.{{ domain }}' with '{{ new_vm_name }}.{{ domain }}' in inventory file
  lineinfile:
    path: inventories/provisioner.ini
    regexp: '{{ hostname }}.{{ domain }}'
    line: '{{ new_vm_name }}.{{ domain }}'
    state: present
  vars:
    ansible_python_interpreter: /usr/bin/python
  when: new_vm_name != 'nee'