---
- name: Install MySQL repository
  action: yum name='https://dev.mysql.com/get/mysql57-community-release-el7-11.noarch.rpm'

- name: Install MySQL Community Server
  action: yum name=mysql-community-server

- name: Install MySQL python dependecie
  action: yum name=MySQL-python
  
- name: Start the MySQL service
  action: service name=mysqld state=started

- name: update mysql root password for all root accounts
  mysql_user: name=root host={{ item }} password=Welkom01!
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost

- name: copy .my.cnf file with root password credentials
  template: src='{{ role_path }}/.my.cnf' dest=/root/.my.cnf owner=root mode=0600